/* You can add global styles to this file, and also import other style files */
* {
    margin: 2px;
    padding: 0px;
  }
  
  body {
    font-family: 'Be Vietnam Pro', sans-serif;
  }
  :root {
    --primary-color: rgb(100, 13, 67);
    --secondary-color: #111046;
    --accent-color: #e5e5e8;
    --shadow-color: #e7e4e4;
  }
  
  button.primary {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--accent-color);
    color: white;
    border-radius: 8px;
  }